@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.bg-2 {
  background-image: url("../public/bg-2.jpg");
}
.bg-3 {
  background-image: url("../public/bg-3.jpg");
}

.atombg-camp {
  background-image: url("../public/atombg-comp.webp");
}

.mountains {
  background-image: url("../public/Mountains.jpg");
}
.main-bg {
  background-image: url("../public/main-bg.webp");
}
